h1,h3{
    font-family: "Hepta Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
} 
h2 {font-family: "Arial", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: darkblue;
} 
body{
    background-image: url(slike/pozadina.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    padding: 0%;
    margin: 0%;
    position: relative;
}
p {
    color: blueviolet;
    font-family: Geneva, sans-serif;
    font-size: 16px;
    line-height: 18px;
    width: 600px;
    background-color: antiquewhite;
    padding: 20px;
}
a:link {
    color: black;
    background-color: white;
    padding: 5px;
    line-height: 40px;
    border: 1px solid #000000;
}
a:hover {
    background-color: darkgray;